html, body {
	padding: 0;
	margin: 0;

	height: 100%;
	width: 100%;
}

ul {
	list-style: none;
	cursor: default;
}
li {
	margin-left: -20px;
}

.container {
	display: flex;
	flex-flow: row wrap;

	width: 100%;
	height: 100%;
}

.file-panel {
	/*background-color: #F9E8C0;*/
	position: absolute;
	top: 0;
	left: 0;
	resize: horizontal;
	width: 15%;
	max-width: 25%;
	height: 100%;
	overflow: scroll;

	z-index: 1;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.hidden {
	display: none;
}

.function-name {
	font-size: 15px;
}

.function-start-lineno {
	font-size: 12px;
}

.button-comment-panel {
	display: flex;
	flex-flow: row wrap;

	/*background-color: yellow;*/
	position: relative;

	height: 100%;
	width: 25%;

	/*display: none;*/
}

.code-panel {
	width: 60%;
}

.code-text {
	/*background-color: red;*/

	float: left;

	font-size: 10px;
	overflow-y: scroll;

	display: none;
}

.flow-tree {
	overflow-y: scroll;
	/*background-color: blue;*/
}

.end-scan-option {
	display: none;
}

.save-option {
	display: none;
}

.button {
	float: left;
	width: 30%;
	height: 40px;

	vertical-align: middle;
	line-height: 2.5;
	font-size: 16px;
	white-space: nowrap;
	text-align: center;

	margin-left: 13%;
	margin-bottom: 5%;
	/*background-color: red;*/
}

.left-button {
	/*float: left;*/
}

.right-button {
	/*float: left;*/
}

.options-box {
	position: absolute;
	bottom: 5%;

	width: 100%;
}

.comment-box {
	/*background-color: red;*/

	width: 100%;
	height: 80%;
}

.code-space {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 15%;

	z-index: 0;
}