html, body {
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
	cursor: default;
}
li {
	margin-left: -20px;
}

.file-tree {
	background-color: #F9E8C0;
	width: 20%;
	height: 100%;
	overflow: scroll;
	float: left;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.hidden {
	display: none;
}

.code-text {
	width: 40%;
	float: left;
}

.function-name {
	font-size: 15px;
}

.function-start-lineno {
	font-size: 12px;
}

.code-text {
	font-size: 10px;
	height: 100%;
	overflow-y: scroll;
}