<!doctype html>

<html>

	<head>
		<title></title>

		<script src="{{ url_for('static', filename = 'js/jquery-3.1.1.min.js') }}"></script>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/codemirror.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main.css') }}">

    <script src="{{ url_for('static', filename = 'js/lib/codemirror.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/lib/python.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/lib/javascript.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/lib/xml.js') }}"></script>
    
    <script>
      var codeText = {{ code_text | tojson | safe }};
      var filename = {{ filename | tojson | safe }};
    </script>

	</head>

	<body>

		<div class="container">

			<div class="code-panel">

        <div class="file-panel">
          <ul class="primary">
            <li>

              <!-- arrow for root -->
              {%- if "children" in directory_tree -%}
                <i class="arrow"></i>
              {%- endif %}
              
              <!-- name for root -->
              {{ directory_tree.short_name }}
              <ul class="secondary">

                <!-- iterate through directory_tree -->
                {%- for item in directory_tree.children recursive %}
                    {% if item.count_id %}
                      <li id="item{{ item.count_id }}">
                    {% else %}
                      <li>
                    {% endif %}
                      <!-- show arrow if directory with children -->
                      {%- if "children" in item -%}
                        <i class="arrow"></i>
                        {{ item.short_name }}
                        <!-- run loop for children of item -->
                        <ul>
                          {{ loop(item.children) }}
                        </ul>
    
                      {% else %}
                        <!-- link for name of item -->
                        <a href="{{ url_for('get_code', filename=item.name[1:]) }}">
                          {{ item.short_name }}
                        </a>
                      {%- endif %}

                    </li>
                {%- endfor %}
              </ul>
            </li>
          </ul>
        </div>

        <div class="code-space flow-tree">
          d3 stuff
        </div>

				<div class="code-space code-text">
					<div class="code-text-path">
            {{ filename }}
					</div>
					<div id="editor"></div>
				</div>
			</div>

			<div class="button-comment-panel">
				<div class="comment-box">
					<div class="welcome-text">
						Truffle is a thing we made.
					</div>
					<div class="comment-name">
					</div>
					<div class="comment-params"></div>
					<div class="comment-description"></div>
					<div class="comment-retval"></div>
				</div>

				<div class="options-box">
					<div class="button left-button start-scan-option">Scan</div>
					<div class="end-scan-option">End Scan</div>
					<div class="button right-button add-category-option">Add Category</div>
					<div class="save-option">Save</div>
				</div>
			</div>

      <div class="scan-panel">
        scan stuff
      </div>


		</div>

		<script type="text/javascript" src="{{ url_for('static', filename = 'js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/dom.js') }}"></script>
	</body>

</html>
