<html>

	<head>
		<title></title>

		<script src="../static/js/jquery-3.1.1.min.js"></script>

		<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	</head>

	<body>

		<div class="container">
			<div class="file-tree">
				<ul class="primary">
					<li>
						{%- if tree.children -%}
							<i class="arrow"></i>
						{%- endif %}
						{{ tree.short_name }}
						<ul class="secondary">
						{%- for item in tree.children recursive %}
						    <li>
								{%- if item.children -%}
									<i class="arrow"></i>
								{%- endif %}
						    	{{ item.short_name }}
							    {%- if item.children -%}
							    	<ul>
							    		{{ loop(item.children) }}
							    	</ul>
							    {%- endif %}
							</li>
						{%- endfor %}
						</ul>
					</li>
				</ul>
			</div>


			<div class="code-text">
				{{ code_text }}
			</div>

		</div>

		<script type="text/javascript" src="../static/js/main.js"></script>
	</body>

</html>